body{
    background-color:  #EDEDED;
}
.Content{

    height: 100vh;
    width: 100%;

}
hr{
  border: 1px solid #FFFFFF;
   width: 100%;
    margin: 20px auto;
   
}
.Constant{
    display: flex;

}
.Rigth{
  width: 94%;
    margin: 0% 3% 0% 3%;
}
.sidebar {
    background-color: #2d014f;
    color: white;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  
  .sidebar__logo {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .sidebar__menu{
    margin-top: 150px;
  }
 
  .sidebar__menu ul {
    

    list-style-type: none;
    padding: 0;
  }
  
  .sidebar__menu ul li {
    padding: 15px 0;
    font-size: 13px;
    cursor: pointer;
  }
  
  .sidebar__menu ul li.active {
    background-color: white;
    color: #2d014f;
    border-radius: 10px;
    padding-left: 15px;
  }
  
  .sidebar__footer {
    padding: 20px;
  }
  
  .settings {
    margin-top: -100%;
    font-size: 18px;
    cursor: pointer;
  }
  